.box-new-text {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-text-black);
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-black);
  }
}