.main-sec2 {
  padding-top: 60px;
  padding-bottom: 50px;
  &__content {
    position: relative;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__item {
    outline: 5px solid transparent;
    position: relative;
    overflow: hidden;
    transition: outline-color 0.4s ease-in-out;
    border-radius: 30px;
  }
  &__item:hover {
    outline: 5px solid var(--akcent);
  }

  &__item:nth-child(2n) .card1 {
    justify-content: end;
  }

  &__item:nth-child(2n) .card1__box-info {
    text-align: end;
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colir-background-body);
    width: 160px;
    min-width: 160px;
    height: 160px;
    transform: translate(-50%, -50%);
    border-radius: 100%;

    & a {
      display: flex;
      align-items: center;
      width: 137px;
      min-width: 137px;
      height: 137px;
      border-radius: 100%;
      background-color: var(--akcent);

      img {
        margin-left: 10px;
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:hover,
      &:focus-visible,
      &:active {
        outline: 2px solid var(--akcent);
      }
    }
  }
}

@media (max-width: 669px) {
  .main-sec2 {
    padding-top: 40px;
    padding-bottom: 30px;
    &__list {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &__item::before {
      display: none;
    }

    &__item:first-child::before {
      display: none;
    }

    &__item:first-child {
      outline: none;
    }

    &__item:nth-child(2n) {
      .card1 {
        justify-content: start;
      }

      .card1__box-info {
        text-align: start;
      }
    }

    &__decor {
      display: none;
    }
  }
}