.marker {
  position: relative;
  pointer-events: auto;
  max-width: 508px;
  display: flex;
  padding: 22px;
  border: 1px solid var(--akcent);
  border-radius: 30px 30px 0 30px;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.83);

  &__box-img {
    width: 30%;
  }

  &__box-info {
    width: 70%;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: var(--akcent);
    transition: color 0.4s ease-in-out;

    &:focus, &:focus-visible {
      outline: none;
    }

    &:hover, &:focus-visible, &:active {
      color: var(--color-btn-gray2);
    }
  }

  &__group {
    display: flex;
    gap: 28px;

    p {
      display: flex;
      gap: 4px;
      flex-direction: column;
      span {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 87%;
        color: var(--akcent);

        &.price-old {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 12px;
          line-height: 117%;
          text-decoration: line-through;
          color: var(--color-text-gray);
        }
      }
    }
  }

  &__box-line {
    position: absolute;
    right: -110px;
    bottom: -5px;
    display: flex;

    &::after {
      position: absolute;
      bottom: 5px;
      left: 5px;
      content: "";
      width: 23px;
      height: 23px;
      border: 1px solid var(--color-text-black);
      background-color: transparent;
      border-radius: 100%;
      transform: translate(-50%, 50%);
    }

    &::before {
      position: absolute;
      bottom: 2px;
      left: 2px;
      content: "";
      width: 7px;
      height: 7px;
      background-color: var(--color-text-black);
      border-radius: 100%;
    }
  }
}