.min-title {
  display: flex;
  margin-bottom: 24px;
  span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--akcent);
    opacity: 0.6;
  }
}
@media (max-width: 1030px) {
  .min-title {
    margin-bottom: 10px;
    span {
      padding: 10px 10px;
      font-size: 12px;
    }
  }
}