.section-title {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: var(--akcent);
}

@media (max-width: 1030px) {
  .section-title {
    margin-bottom: 25px;
    font-size: 28px;
  }
}