<div class="card-stocks">
  <a href="#" class="card-stocks__link">
    <img class="card-stocks__img" src="@@urlImg">
  </a>
  <div class="card-stocks__top-info">
    <div class="counter-box">
      <span class="data-hidden">25.07.2025</span>
      <div class="data-time">
        <span class="item days"><i>400</i>д :</span>
        <span class="item hours"><i>20</i>ч :</span>
        <span class="item minutes"><i>40</i>м</span>
      </div>
    </div>
  </div>

  <div class="card-stocks__bottom-info">
    <p>
      <span class="svg">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <use xlink:href="img/sprite.svg#mol"></use>
        </svg>
      </span>
      <span class="text">@@textData</span>
    </p>
    <h3 class="title">
      @@title
    </h3>
  </div>
</div>