<div class="marker">
  <div class="marker__box-img">
    <img src="img/main-page/sec1/marker1.png" alt="img">
  </div>
  <div class="marker__box-info">
    <a href="#" class="marker__link">
      Светодиодная фара Aurora/Auropola Фара ALO-E-R4T3-E-RGB APP 4" 40W Управление через приложение 3200Lm 9-36V
    </a>
    <div class="marker__group">
      <p>
        <span class="price">3400 р.</span>
        <span class="price-old">3400 р.</span>
      </p>
      @@include('./btn3.html')
    </div>
  </div>
  <div class="marker__box-line">
    <img src="img/main-page/sec1/line.svg" alt="img">
  </div>
</div>